.all__wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}


/* --------------------------------------- */
/*            Reservation-List             */
/* --------------------------------------- */


.reservation-list__heading{
    margin-bottom: 24px;
    font-size: 32px;
}

.reservation-list{
    width: 34%;
    min-width: 300px;
    margin-left: 10%;
    margin-right: 8%;
    margin-top: 164px;
}

.reservation-card{
    min-width: 300px;
    height: 340px;
    margin-bottom: 56px;
    color: #fff;
    background-color: #06f;
    border-radius: 8px;
    box-shadow: 0 4px 4px #656565;
}

.reservation-card__heading-container{
    width: 50%;
    display: flex;
    align-items: center;
}

.reservation-card__image-clock{
    width: 40px;
    height: 40px;
    margin-left: 8%;
    margin-right: 8%;
}

.reservation-card__cancel-form{
    padding-top: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservation-card__button-cancel{
    margin-right: 6%;
    background-color: #06f;
    border: none;
    cursor: pointer;
}

.reservation-card__image-close{
    width: 30px;
    height: 30px;
}

.reservation-card__info{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.reservation-card__label{
    margin: 0 10%;
}

.reservation-card__row-label{
    margin: 21.4% 0;
}

.reservation-card__row-item {
    margin: 16% 0;
}

.reservation-card__button-area{
    width: 94%;
    text-align: right;
}

.reservation-card__button-edit{
    padding: 4px 12px;
    font-size: 20px;
    color: #fff;
    background-color: #06f;
    border: none;
    outline: none;
    cursor: pointer;
}


/* --------------------------------------- */
/*               Edit-Modal                */
/* --------------------------------------- */


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* モーダルの中身 */
.modal-content {
    color: #fff;
    background-color: #06f;
    border-radius: 12px;
    width: 90%;
    max-width: 700px;
    box-shadow: 0 4px 4px #656565;
    font-size: 26px;
}

.edit-form__heading-container{
    font-size: 20px;
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.edit-form__input-area{
    margin: 36px 0;
}

.edit-form__image-clock{
    width: 40px;
    height: 40px;
    margin: 0 34px;
}

.edit-form__button-close{
    font-size: 22px;
    margin-left: 36%;
    color: #fff;
    background-color: #06f;
    border: none;
    outline: none;
    cursor: pointer;
}

.edit-form__label{
    margin-left: 10%;
}

.edit-form__item-shop{
    margin-left: 16%;
}

.edit-form__item-date{
    width: 50%;
    height: 40px;
    padding: 0 18px;
    margin-left: 16%;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
}

.edit-form__item-time{
    width: 50%;
    height: 40px;
    padding: 0 18px;
    margin-left: 15%;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
}

.edit-form__item-people{
    width: 50%;
    height: 40px;
    padding: 0 18px;
    margin-left: 9.4%;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
}

.edit-form__button-update{
    width: 100%;
    padding: 12px 0;
    margin-top: 48px;
    font-size: 20px;
    color: #fff;
    background-color: #33f;
    border: none;
    border-radius: 0 0 12px 12px;
    outline: none;
    cursor: pointer;
}

.hidden {
    display: none;
}


/* --------------------------------------- */
/*           Favorite-Shop-List            */
/* --------------------------------------- */


.user-name{
    font-size: 38px;
    font-weight: bold;
    margin: 0;
    margin-top: 30px;
}

.favorite-shop-list__wrapper{
    width: 42%;
    margin-top: 68px;
    margin-right: 4%;
}

.favorite-shop-list__heading{
    font-size: 32px;
    margin-top: 28px;
    margin-bottom: 28px;
}

.favorite-shop-list__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

.favorite-shop-card {
    background-color: #fff;
    width: 280px;
    height: 340px;
    margin-bottom: 56px;
    border-radius: 8px;
    box-shadow: 0 4px 16px #00000040;
}

.favorite-shop-card__image {
    width: 100%;
    height: 58%;
    border-radius: 8px 8px 0 0;
}

.favorite-shop-card__info {
    min-height: 130px;
}

.favorite-shop-card__name {
    width: 100%;
    padding: 0 6%;
    padding-top: 10px;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.favorite-shop-card__tags {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.favorite-shop-card__region {
    padding-left: 6%;
    font-weight: 500;
}

.favorite-shop-card__genre {
    padding-left: 1%;
    font-weight: 500;
}

.favorite-shop-card__link-area {
    margin-left: 6%;
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.favorite-shop-card__link-detail {
    padding: 6px 14px;
    margin: 18px 0;
    color: #fff;
    background-color: #33f;
    border-radius: 6px;
    box-shadow: 0 2px 2px #656565;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.favorite-shop-card__button-favorite {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.favorite-image {
    width: 70%;
}

.no-reservation{
    padding-top: 24px;
    font-size: 21px;
}

.no-favorite{
    font-size: 21px;
}

.error-text{
    margin: 0;
    color: #ffff00;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    left: 44.6%;
}