.all__wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.mypage__wrapper{
    display: flex;
    justify-content: center;
}

.user-name {
    font-size: 36px;
    font-weight: bold;
    width: 70%;
    margin: 0 auto;
    padding-top: 74px;
    padding-left: 246px;
    text-align: center;
    white-space: nowrap;
}


/* --------------------------------------- */
/*            Reservation-List             */
/* --------------------------------------- */


.reservation-list__heading{
    margin-bottom: 24px;
    font-size: 32px;
}

.reservation-list{
    width: 30%;
    min-width: 260px;
    margin-left: 4%;
    margin-right: 8%;
    margin-top: 24px;
}

.reservation-card{
    min-width: 260px;
    height: 330px;
    margin-bottom: 56px;
    color: #fff;
    background-color: #06f;
    border-radius: 8px;
    box-shadow: 0 4px 4px #656565;
}

.reservation-card__heading-container{
    width: 50%;
    display: flex;
    align-items: center;
}

.reservation-card__image-clock{
    width: 40px;
    height: 40px;
    margin-left: 8%;
    margin-right: 8%;
}

.reservation-card__cancel-form{
    padding-top: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservation-card__button-cancel{
    margin-right: 6%;
    background-color: #06f;
    border: none;
    cursor: pointer;
}

.reservation-card__image-close{
    width: 30px;
    height: 30px;
}

.reservation-card__info{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.reservation-card__label{
    margin: 0 10%;
}

.reservation-card__item{
    width: 50%;
}

.reservation-card__row-label{
    margin: 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reservation-card__row-item {
    margin: 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reservation-card__button-area{
    width: 94%;
    text-align: right;
}

.reservation-card__button-edit{
    padding: 0 12px;
    font-size: 20px;
    color: #fff;
    background-color: #06f;
    border: none;
    outline: none;
    cursor: pointer;
}

.no-reservation {
    padding-top: 24px;
    font-size: 21px;
}


/* --------------------------------------- */
/*               Edit-Modal                */
/* --------------------------------------- */


.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.edit-form {
    width: 90%;
    max-width: 700px;
    font-size: 26px;
    color: #fff;
    background-color: #06f;
    border-radius: 12px;
    box-shadow: 0 4px 4px #656565;
}

.edit-form__heading-container{
    margin-top: 12px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.edit-form__name-area{
    display: flex;
    align-items: center;
    margin: 24px 0 36px 0;
}

.edit-form__input-area{
    margin: 36px 0;
}

.edit-form__image-clock{
    width: 40px;
    height: 40px;
    margin: 0 34px;
}

.edit-form__button-close{
    font-size: 22px;
    font-weight: 500;
    margin-left: 36%;
    color: #fff;
    background-color: #06f;
    border: none;
    outline: none;
    cursor: pointer;
}

.edit-form__label{
    margin-left: 10%;
}

.edit-form__shop-name{
    width: 50%;
    margin-left: 16%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-form__input-date{
    width: 50%;
    height: 40px;
    padding: 0 18px;
    margin-left: 15.8%;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
}

.edit-form__input-time{
    width: 50%;
    height: 40px;
    padding: 0 18px;
    margin-left: 15%;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
}

.edit-form__select-people{
    width: 50%;
    height: 40px;
    padding: 0 18px;
    margin-left: 9.6%;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
}

.edit-form__button-update{
    width: 100%;
    padding: 12px 0;
    margin-top: 48px;
    font-size: 20px;
    color: #fff;
    background-color: #33f;
    border: none;
    border-radius: 0 0 12px 12px;
    outline: none;
    cursor: pointer;
}

.hidden {
    display: none;
}


/* --------------------------------------- */
/*           Favorite-Shop-List            */
/* --------------------------------------- */


.favorite-shop-list__wrapper{
    width: 42%;
    margin-top: 10px;
}

.favorite-shop-list__heading{
    font-size: 32px;
    margin-top: 28px;
    margin-bottom: 28px;
}

.favorite-shop-list__container{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.favorite-shop-card {
    background-color: #fff;
    width: 43%;
    min-width: 260px;
    height: 332px;
    margin-bottom: 56px;
    border-radius: 8px;
    box-shadow: 0 4px 16px #00000040;
}

.favorite-shop-card__image {
    width: 100%;
    height: 58%;
    border-radius: 8px 8px 0 0;
}

.favorite-shop-card__info {
    min-height: 130px;
}

.favorite-shop-card__name {
    width: 100%;
    padding: 0 6%;
    padding-top: 10px;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.favorite-shop-card__tags {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.favorite-shop-card__region {
    padding-left: 6%;
    font-weight: 500;
}

.favorite-shop-card__genre {
    padding-left: 1%;
    font-weight: 500;
}

.favorite-shop-card__link-area {
    margin-left: 6%;
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.favorite-shop-card__link-detail {
    padding: 6px 14px;
    margin: 18px 0;
    color: #fff;
    background-color: #33f;
    border-radius: 6px;
    box-shadow: 0 2px 2px #656565;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.favorite-shop-card__button-favorite {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.favorite-image {
    width: 70%;
}

.no-favorite{
    font-size: 21px;
}

.error-text{
    color: #ffff00;
    font-size: 16px;
    font-weight: 500;
    margin-left: 35%;
}

.alert__success {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.alert__inner {
    width: 500px;
    height: 220px;
    padding-top: 60px;
    color: #ff0;
    background-color: #07f;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.alert__message {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 24px;
    text-align: center;
}

.alert__button-area {
    width: 94%;
    text-align: right;
}

.alert__button-close {
    font-size: 24px;
    color: #ff0;
    background-color: #07f;
    border: none;
    cursor: pointer;
    outline: none;
}


/* --------------------------------------- */
/*        レスポンシブデザイン(768px)        */
/* --------------------------------------- */


@media screen and (max-width: 768px) {

    .user-name {
        font-size: 34px;
        font-weight: bold;
        width: 80%;
        margin: 0 auto;
        padding: 130px 0 10px 0;
        text-align: center;
        white-space: nowrap;
    }

    .mypage__wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .reservation-list__heading {
        margin-bottom: 24px;
        font-size: 28px;
    }

    .reservation-list {
        width: 76%;
        margin: 0 auto;
    }

    .favorite-shop-list__heading {
        font-size: 28px;
        margin-top: 28px;
        margin-bottom: 28px;
    }

    .favorite-shop-list__wrapper {
        width: 76%;
        margin: 0 auto;
    }

    .favorite-shop-list__container {
        display: flex;
        flex-wrap: wrap;
        gap: 6%;
    }

    .favorite-shop-card {
        background-color: #fff;
        width: 46%;
        min-width: 206px;
        height: 290px;
        margin-bottom: 56px;
        border-radius: 8px;
        box-shadow: 0 4px 16px #00000040;
    }

    .favorite-shop-card__image {
        width: 100%;
        height: 50%;
        border-radius: 8px 8px 0 0;
    }

    .edit-form {
        width: 500px;
        font-size: 26px;
        color: #fff;
        background-color: #06f;
        border-radius: 12px;
        box-shadow: 0 4px 4px #656565;
    }

    .edit-form__heading-container {
        width: 94%;
        margin-top: 12px;
        font-size: 20px;
        display: flex;
        align-items: center;
    }

    .edit-form__button-close {
        font-size: 22px;
        font-weight: 500;
        width: 16%;
        margin-left: auto;
        color: #fff;
        background-color: #06f;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .edit-form__shop-name {
        margin-left: 94px;
    }

    .edit-form__input-date {
        width: 50%;
        height: 40px;
        padding: 0 18px;
        margin-left: 91.4px;
        font-size: 18px;
        font-weight: 500;
        border: none;
        border-radius: 4px;
        letter-spacing: 2px;
        outline: none;
        cursor: pointer;
    }

    .edit-form__input-time {
        width: 50%;
        height: 40px;
        padding: 0 18px;
        margin-left: 86px;
        font-size: 18px;
        font-weight: 500;
        border: none;
        border-radius: 4px;
        letter-spacing: 2px;
        outline: none;
        cursor: pointer;
    }

    .edit-form__select-people {
        width: 50%;
        height: 40px;
        padding: 0 18px;
        margin-left: 47.7px;
        font-size: 18px;
        font-weight: 500;
        border: none;
        border-radius: 4px;
        letter-spacing: 2px;
        outline: none;
        cursor: pointer;
    }

    .alert__inner {
        width: 60%;
        min-width: 280px;
        height: 160px;
        padding-top: 40px;
        color: #ff0;
        background-color: #07f;
        border-radius: 8px;
        display: inline-block;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }

    .error-text {
        width: 50%;
        color: #ffff00;
        font-size: 16px;
        font-weight: 500;
        margin-left: 41%;
    }

    .alert__message {
        margin: 0;
        margin: 20px 0;
        font-size: 20px;
        text-align: center;
    }

    .alert__button-close {
        font-size: 20px;
        color: #ff0;
        background-color: #07f;
        border: none;
        cursor: pointer;
        outline: none;
    }

    .no-reservation {
        padding-top: 24px;
        font-size: 19px;
    }

    .no-favorite {
        font-size: 19px;
    }

}





@media screen and (max-width: 580px) {

    .user-name {
        font-size: 34px;
        font-weight: bold;
        width: 80%;
        margin: 0 auto;
        padding: 130px 0 10px 0;
        text-align: center;
        white-space: nowrap;
    }

    .reservation-list {
        width: 80%;
        margin: 0 auto;
    }

    .favorite-shop-list__wrapper {
        width: 80%;
        margin: 0 auto;
    }

                .favorite-shop-list__container {
                    width: 80%;
                    margin: 0 auto;
                    min-width: 260px;
                }

    .favorite-shop-card {
        background-color: #fff;
        width: 100%;
        height: 360px;
        margin-bottom: 56px;
        border-radius: 8px;
        box-shadow: 0 4px 16px #00000040;
    }

    .favorite-shop-card__image {
        width: 100%;
        height: 60%;
        border-radius: 8px 8px 0 0;
    }

.edit-form {
    width: 280px;
    font-size: 26px;
    color: #fff;
    background-color: #06f;
    border-radius: 12px;
    box-shadow: 0 4px 4px #656565;
}

                .edit-form__heading-container {
                    width: 94%;
                    margin: 0 auto;
                    margin-top: 12px;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                }

.edit-form__image-clock {
    width: 30px;
    height: 30px;
    margin: 0 8px;
}

                .edit-form__button-close {
                    font-size: 16px;
                    font-weight: 500;
                    width: 26%;
                    margin-left: auto;
                    color: #fff;
                    background-color: #06f;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }

.edit-form__label {
    margin-left: 12%;
    font-size: 20px;
}

                .edit-form__shop-name {
                    margin-left: 44px;
                    font-size: 20px;
                }

                .edit-form__input-date {
                    width: 50%;
                    height: 30px;
                    padding: 0 8px;
                    margin-left: 45px;
                    font-size: 14px;
                    font-weight: 500;
                    border: none;
                    border-radius: 4px;
                    letter-spacing: 2px;
                    outline: none;
                    cursor: pointer;
                }

                .edit-form__input-time {
                    width: 50%;
                    height: 30px;
                    padding: 0 18px;
                    margin-left: 40px;
                    font-size: 14px;
                    font-weight: 500;
                    border: none;
                    border-radius: 4px;
                    letter-spacing: 2px;
                    outline: none;
                    cursor: pointer;
                }

                .edit-form__select-people {
                    width: 50%;
                    height: 30px;
                    padding: 0 18px;
                    margin-left: 10px;
                    font-size: 14px;
                    font-weight: 500;
                    border: none;
                    border-radius: 4px;
                    letter-spacing: 2px;
                    outline: none;
                    cursor: pointer;
                }

.no-reservation {
    padding-top: 24px;
    font-size: 19px;
    text-align: center;
}

.no-favorite {
    width: 100%;
    font-size: 19px;
    text-align: center;
}

.error-text {
    width: 50%;
    color: #ffff00;
    font-size: 16px;
    font-weight: 500;
    margin-left: 46%;
}

}