.all__wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.owner-list__heading{
    margin-top: 100px;
}

.owner-list__container {
    width: 64%;
    min-width: 700px;
    margin: 0 auto;
    margin: 28px 0 38px 0;
    color: #737373;
    font-weight: bold;
    background-color: #fff;
    border-radius: 10px;
    table-layout: fixed;
}

.owner-list__row-label {
    height: 48px;
    border-bottom: 3px solid #E1E1E1;
    text-align: center;
    letter-spacing: 2px;
}

.owner-list__label {
    text-align: center;
}

.owner-list__label-owner {
    width: 24%;
    padding-left: 40px;
}

.owner-list__label-email {
    width: 30%;
    padding-left: 20px;
}

.owner-list__label-shop {
    width: 26%;
    padding-left: 20px;
}

.owner-list__row-item {
    height: 48px;
    border-bottom: 2px solid #E1E1E1;
    text-align: center;
    letter-spacing: 2px;
}

.owner-list__row-item:last-child {
    border-bottom: none;
}

.owner-list__item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.owner-list__item-owner {
    width: 24%;
    padding-left: 40px;
}

.owner-list__item-email {
    width: 30%;
    padding-left: 20px;
}

.owner-list__item-shop {
    width: 26%;
    padding-left: 20px;
}

.owner-list__button-delete {
    font-size: 18px;
    font-weight: bold;
    color: #f00;
    background-color: #fff;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.no-owner{
    height: 48px;
    font-size: clamp(16px, 2vw, 18px);
    text-align: center;
}

.alert__success {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.alert__inner {
    width: 500px;
    height: 220px;
    padding-top: 60px;
    color: #ff0;
    background-color: #07f;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.alert__message {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 24px;
    text-align: center;
}

.alert__button-area {
    width: 94%;
    text-align: right;
}

.alert__button-close {
    font-size: 24px;
    color: #ff0;
    background-color: #07f;
    border: none;
    cursor: pointer;
    outline: none;
}




@media screen and (max-width: 768px) {

    .owner-list__container {
            width: 90%;
            min-width: 300px;
            margin: 0 auto;
            margin: 28px 0 38px 0;
            color: #737373;
            font-size: clamp(10px, 2vw, 16px);
            font-weight: bold;
            background-color: #fff;
            border-radius: 10px;
            table-layout: fixed;
        }

.owner-list__label-owner {
    width: 24%;
    padding-left: 10px;
}

.owner-list__label-email {
    width: 32%;
    padding-left: 10px;
}

.owner-list__label-shop {
    width: 26%;
    padding-left: 10px;
}

.owner-list__item {
    font-size: clamp(12px, 2vw, 16px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.owner-list__item-owner {
    width: 24%;
    padding-left: 10px;
}

.owner-list__item-email {
    width: 32%;
    padding-left: 10px;
}

.owner-list__item-shop {
    width: 26%;
    padding-left: 10px;
}

.owner-list__button-delete {
    font-size: clamp(14px, 2vw, 18px);
    font-weight: bold;
    color: #f00;
    background-color: #fff;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.alert__inner {
    width: 60%;
    min-width: 280px;
    height: 160px;
    padding-top: 40px;
    color: #ff0;
    background-color: #07f;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.alert__message {
    margin: 0;
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
}

.alert__button-close {
    font-size: 20px;
    color: #ff0;
    background-color: #07f;
    border: none;
    cursor: pointer;
    outline: none;
}
}