.all__wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.search-form__wrapper{
    width: 88%;
    margin: 0 auto;
    padding-top: 46px;
    display: flex;
    justify-content: right;
}

.search-form__container{
    background-color: #fff;
    box-shadow: 0 4px 4px #656565;
    display: flex;
    align-items: center;
    border-radius: 6px;
    flex: 0.5;
}

.search-form__region,
.search-form__genre{
    min-width: 120px;
    height: 50px;
    padding-right: 4px;
    border: none;
    border-right: 1px solid #d2d2d2;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    outline: none;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}

.search-form__input-area{
    width: 100%;
}

.search-form__shop-name {
    width: 100%;
    min-width: 120px;
    height: 50px;
    border: none;
    font-size: 16px;
    outline: none;
    border-radius: 0 6px 6px 0;
}

.search-form__image-search{
    width: 24px;
    height: 20px;
    margin: 0 4px;
    margin-bottom: 2px;
    border: none;
}

.shop-list {
    width: 88%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 1%;
}

.shop-card {
    background-color: #fff;
    width: 24%;
    aspect-ratio: 1.2;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 6px 16px #00000040;
}

.shop-card__image{
    width: 100%;
    height: 80%;
    border-radius: 8px 8px 0 0;
}

.shop-card__info{
    min-height: 130px;
}

.shop-card__name {
    width: 100%;
    padding: 0 6%;
    padding-top: 10px;
    margin: 0;
    font-size: clamp(14px, 3vw, 24px);
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shop-card__tags{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: clamp(12px, 2vw, 16px);
}

.shop-card__region{
    padding-left: 6%;
    font-weight: 500;
}

.shop-card__genre {
    padding-left: 1%;
    font-weight: 500;
}

.shop-card__link-area{
    margin-left: 6%;
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop-card__link-detail{
    padding: 6px 14px;
    margin: 18px 0;
    color: #fff;
    background-color: #33f;
    border-radius: 6px;
    box-shadow: 0 2px 2px #656565;
    font-size: clamp(12px, 1vw, 16px);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.shop-card__button-favorite{
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.favorite-image{
    width: 70%;
}

.no-shop{
    width: 100%;
    font-size: 21px;
    text-align: center;
}