.all__wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}

.shop-info{
    width: 44%;
    margin-top: 150px;
}

.shop-info__name-area{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.shop-info__button-back{
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 4px 6px #656565;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

.shop-info__button-back:active{
    color: inherit;
}

.shop-info__name{
    max-width: 70%;
    font-size: 36px;
    font-weight: bold;
}

.shop-info__image{
    width: 88%;
    aspect-ratio: 1.6;
}

.shop-info__tags{
    max-width: 88%;
    margin: 18px 0;
    font-size: 20px;
}

.shop-info__region{
    margin-right: 12px;
}

.shop-info__description{
    width: 88%;
    font-size: 20px;
}

.shop-reservation{
    width: 43%;
}

.reservation-form{
    margin-top: 40px;
    color: #fff;
    background-color: #06f;
    border-radius: 8px;
    box-shadow: 0 8px 8px #656565;
}

.reservation-form__heading{
    padding: 28px 0;
    margin: 0;
    padding-left: 40px;
}

.reservation-form__input-date{
    width: 232px;
    height: 40px;
    padding: 0 18px;
    margin: 0 5%;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
}

.reservation-form__input-time,
.reservation-form__select-people{
    width: 90%;
    height: 40px;
    padding: 0 18px;
    margin: 0 5%;
    margin-top: 44px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
}

.reservation-confirm-table{
    width: 90%;
    margin: 0 5%;
    margin-top: 48px;
    background-color: #57f;
    border-radius: 8px;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
}

.reservation-confirm-table__label{
    width: 130px;
    padding: 4px 0;
    padding-left: 30px;
}

.reservation-confirm-table__item{
    padding: 4px 0;
    padding-right: 10px;
}

.reservation-confirm-table__label-first,
.reservation-confirm-table__item-first{
    padding-top: 24px;
}

.reservation-confirm-table__label-last,
.reservation-confirm-table__item-last{
    padding-bottom: 24px;
}

.reservation-form__button-submit{
    width: 100%;
    height: 70px;
    margin-top: 30%;
    color: #fff;
    background-color: #33f;
    border: none;
    border-radius: 0 0 8px 8px;
    font-size: 20px;
    cursor: pointer;
}

.reservation-form__error-message{
    margin: 0;
    color: #ffff00;
    font-size: clamp(14px, 1.8vw, 18px);
    font-weight: 500;
    position: absolute;
    left: 53%;
}


/* --------------------------------------- */
/*              Review-Modal               */
/* --------------------------------------- */


.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.review-form {
    width: 90%;
    max-width: 600px;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff0;
    background-color: #07f;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.review-form__heading{
    padding-bottom: 12px;
    margin: 0;
    font-size: 24px;
    text-align: center;
    border-bottom: 2px solid #ff0;
}

.review-form__inner{
    width: 80%;
    margin: 0 auto;
}

.review-form__label{
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
}

.review-form__input-area{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.star-img{
    margin: 0 6px;
    cursor: pointer;
}

.review-form__textarea{
    width: 100%;
    height: 100px;
    padding: 8px;
    font-size: 18px;
    border-radius: 8px;
    outline: none;
}

.review-form__buttons{
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.review-form__buttons-inner{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.review-skip-form__button-close,
.review-skip-form__button-skip,
.review-skip-form__button-submit{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #07f;
    border: none;
    cursor: pointer;
    outline: none;
}

.review-form__error-message{
    margin: 0;
    position: absolute;
}

.review-form__error-message--rating{
    width: 70%;
    margin: 0;
    margin-top: 8px;
    text-align: center;
    position: absolute;
}

.alert__success{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.alert__inner{
    width: 500px;
    height: 220px;
    padding-top: 60px;
    color: #ff0;
    background-color: #07f;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.alert__message{
    margin: 0;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 24px;
    text-align: center;
}

.alert__button-area{
    width: 94%;
    text-align: right;
}

.alert__button-close{
    font-size: 24px;
    color: #ff0;
    background-color: #07f;
    border: none;
    cursor: pointer;
    outline: none;
}





@media screen and (max-width: 768px) {

    .all__wrapper {
            width: 100%;
            min-height: 100vh;
            margin: 0 auto;
            background-color: #f5f5f5;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

    .shop-info {
        width: 88%;
        padding-left: 2%;
        margin: 0 auto;
        margin-top: 150px;
    }

        .shop-info__image {
            width: 96%;
            aspect-ratio: 1.6;
        }

                .shop-info__tags {
                    max-width: 96%;
                    margin: 18px 0;
                    font-size: 20px;
                }

                .shop-info__description {
                    width: 96%;
                    font-size: 20px;
                }

    .shop-reservation {
        width: 84%;
        margin: 0 auto;
        margin-bottom: 40px;
    }

        .reservation-form__error-message {
            width: 70%;
            margin: 0;
            color: #ffff00;
            font-size: 14px;
            font-weight: 500;
            position: absolute;
            left: 13%;
        }

.review-form__inner {
    width: 94%;
    margin: 0 auto;
}

        .star-img {
            width: 30px;
            margin: 0 1px;
            cursor: pointer;
        }

                .review-form__heading-1{
                    display: block;
                }

.review-form__buttons-inner {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.review-skip-form__button-close {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #07f;
    border: none;
    cursor: pointer;
    outline: none;
}

.review-skip-form__button-skip {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #07f;
    border: none;
    cursor: pointer;
    outline: none;
}

.review-skip-form__button-submit {
    margin-top: 44px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #07f;
    border: none;
    cursor: pointer;
    outline: none;
}

.alert__inner {
    width: 300px;
    height: 160px;
    padding-top: 40px;
    color: #ff0;
    background-color: #07f;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.alert__message {
    margin: 0;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
}

.alert__button-close {
    font-size: 16px;
    color: #ff0;
    background-color: #07f;
    border: none;
    cursor: pointer;
    outline: none;
}

}