.all__wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}


/* --------------------------------------- */
/*            Reservation-List             */
/* --------------------------------------- */


.reservation-list__heading {
    margin-bottom: 24px;
    font-size: 32px;
}

.reservation-list {
    width: 34%;
    min-width: 300px;
    margin-left: 10%;
    margin-right: 8%;
    margin-top: 112px;
}

.reservation-card {
    min-width: 300px;
    height: 300px;
    margin-bottom: 56px;
    color: #fff;
    background-color: #06f;
    border-radius: 8px;
    box-shadow: 0 4px 4px #656565;
}

.reservation-card__heading-container {
    width: 50%;
    padding-top: 8px;
    display: flex;
    align-items: center;
}

.reservation-card__image-clock {
    width: 40px;
    height: 40px;
    margin-left: 8%;
    margin-right: 8%;
}

.reservation-card__info {
    display: flex;
}

.reservation-card__label {
    margin: 0 10%;
    font-size: 20px;
}

.reservation-card__row-label,
.reservation-card__row-item {
    margin: 14px 0;
}

.reservation-card__item {
    font-size: 20px;
}