.all__wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-verification__wrapper {
    width: 580px;
    height: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 4px 10px #656565;
}

.email-verification__heading {
    padding: 14px 0;
    padding-left: 24px;
    margin: 0;
    margin-bottom: 72px;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    background-color: #33f;
    border-radius: 8px 8px 0 0;
}

.email-verification__link-area{
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-verification__link-verify{
    width: 320px;
    height: 50px;
    padding-top: 10px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #33f;
    box-shadow: 0 2px 6px #656565;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.email-verification__form-resend{
    display: flex;
    justify-content: center;
}

.email-verification__button-resend{
    font-size: 18px;
    margin-top: 48px;
    color: #0073CC;
    background-color: #fff;
    border: none;
    cursor: pointer;
}




@media screen and (max-width: 768px) {

    .email-verification__wrapper {
        width: 76%;
        height: 300px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 4px 4px 10px #656565;
    }

    .email-verification__link-verify {
        width: 55%;
        min-width: 210px;
        height: 50px;
        padding-top: 11px;
        border: none;
        border-radius: 8px;
        color: #fff;
        background-color: #33f;
        box-shadow: 0 2px 6px #656565;
        font-size: 17px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
}