html {
    scrollbar-gutter: stable;
}

.header{
    display: flex;
    align-items: center;
    position: absolute;
    top: 14px;
    left: 5.6%;
}

.header__button-open-menu {
    border: none;
    background: none;
    position: relative;
    z-index: 200;
    cursor: pointer;
}

.header__button-close-menu {
    margin-top: 25px;
    border: none;
    background: none;
    position: relative;
    z-index: 200;
    cursor: pointer;
}

.header__image-menu,
.header__image-close{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #656565;
}

.header__app-title{
    padding-left: 16px;
    color: #33f;
    font-size: 36px;
    letter-spacing: 1px;
}


/* --------------------------------------- */
/*                  Menu                   */
/* --------------------------------------- */


.menu__wrapper{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: fixed;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}

.nav-button{
    margin: 12px 0;
    color: #33f;
    background-color: #fff;
    border: none;
    font-size: 32px;
    text-decoration: none;
    cursor: pointer;
}

body.menu-open {
    overflow: hidden;
    height: 100vh;
}

.hidden {
    display: none;
}