/node_modules
/public/hot
/public/storage

/src/storage/*
!/src/storage/app/
!/src/storage/app/public/
!/src/storage/app/public/shops/
!/src/storage/framework/
!/src/storage/framework/cache/
!/src/storage/framework/views/
!/src/storage/framework/sessions/
!/src/storage/framework/testing/
!/src/storage/logs/

vendor

.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
docker/mysql/data/
