* text eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.svg binary

/.github export-ignore
CHANGELOG.md export-ignore